<%- include header %>
<form method="post">
  标题：<br />
  <input type="text" name="title" value="<%= post.title %>" disabled="disabled" /><br />
  标签：<br />
  <%for(var i=0;i<3;i++){%>
    <%var tagValue = post.tags[i] ? ( 'value="' + post.tags[0] + '"') : '';%>
    <input type="text" name="tag<%=i+1%>" <%= tagValue %>  disabled="disabled" />
  <%}%>
  <br />正文：<br />
  <textarea name="post" rows="20" cols="100"><%= post.post %></textarea><br />
  <input type="submit" value="保存修改" />
</form>
<%- include footer %>