<p class="info">
  作者：<a href="/u/<%= post.name %>"><%= post.name %></a>
   | 日期：<%= post.time.minute %>
  <% if(post.tags && post.tags.length){%>
   | 标签：
  <% post.tags.forEach(function (tag, index) { %>
    <% if (tag) { %>
      <a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
    <% } %>
  <% }) %>
  <%}%>
</p>