<%- include header %>
<% posts.forEach(function (post, index) { %>
  <p><h2><a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %></a></h2></p>
  <%- include userinfo %>
  <p><%- post.post %></p>
<% }) %>

<%- include paging %>

<%- include footer %>